# Bog'liqliklar
node_modules/

# Lokal ma'lumotlar bazasi (server o'zi yaratadi)
db.json

# Muhit o'zgaruvchilari
.env
.env.local

# OS / muharrir fayllari
.DS_Store
Thumbs.db
.vscode/
.idea/

# Loglar
*.log
npm-debug.log*
